.navigation-bar{
    background-color: #689F38;
  }

.navlinks {
    position: relative;
    display: inline-block;
    padding: .5rem;
    color: white;
    text-decoration: none; /* Remove default underline */
    font-size: 1.2rem;
    font-weight: 700;
    transition: color 0.3s ease;

  }

  .navlinks:hover {
    color: #FFC107; /* Bright Amber */
  }

  /* Create the underline effect */
  .navlinks::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #FFC107; /* Color of the underline */
    transform: scaleX(0); /* Initially hidden (collapsed) */
    transform-origin: left; /* Start animation from the left */
    transition: transform 0.25s ease; /* Smooth transition effect */
  }
  
  /* On hover, show the underline by expanding it */
  .navlinks:hover::after {
    transform: scaleX(1); /* Fully expand the underline */
    background-color: #FFC107;
  }